<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Amigo - Modificar datos</title>
</head>
<body>
    <h1>Amigo - Modificar datos</h1>
    <form action="/html/save_amigo" method="POST">
        <input type="hidden" name="id" value="{{amigo.id if amigo else ''}}"/>
        <label for="name">Nombre</label>
        <input type="text" name="name" value="{{amigo.name if amigo else ''}}"><br>
        <label for="longi">Longitud</label>
        <input type="text" name="longi" value="{{amigo.longi if amigo else ''}}"><br>
        <label for="lati">Latitud</label>
        <input type="text" name="lati" value="{{amigo.lati if amigo else ''}}"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
